<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="style1.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<style>
.column {
  float: left;
  width: 33.33%;
}
 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
  color: black;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column">
        <a href="a link"><i class="fa fa-external-link"></i> A link</a>
      </div>
	  
      <div class="column">
        <a href="https://alink"><i class="fa fa-external-link"></i> A link</a>  
        <div class="bigspacer"></div>
        <a href="https://alink"><i class="fa fa-external-link"></i> Another link</a>
      
      </div>
      <div class="column">
        <a href="https://link"><i class="fa fa-external-link"></i> Link</a>
        <div class="bigspacer"></div>
      </div>
    
    </div>
  </div>
 <div class="bigspacer"></div>
</body>
</html>
