
<footer class="p-3 mt-2 mb-2 ">

    <div class="container border-bottom mb-2">
        <ul class="nav ">
            <li class="nav-link px-2 link-dark border-end">Email: <a class="link-dark" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li class="nav-link px-2 link-dark"><a class="link-dark" href="{{ site.wiki }}">Chronopsychiatry Wiki</a></li>
        </ul>
    </div>

    <div class="container d-flex justify-content-between" >
      <img style="max-height: 100px;" class="" src="assets/ukri-mrc-square-logo.png">
      <img style="max-height: 100px;" class="" src="assets/rcpe_logo.jpg">
      <img style="max-height: 100px;" class="" src="assets/cso-logo.png">
      <img style="max-height: 100px;" class="" src="assets/lister-logo.jpg">
      <img style="max-height: 100px;" class="" src="assets/Milken-logo.svg">
      <img style="max-height: 100px;" class="" src="assets/wellcome-logo-black.png">
    </div>
</footer> 