<style type="text/css"> 
<!-- 
 
 #navbar ul { 
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	text-align: center; 
	background-color: ##157878; 
	line-height: 2em; 
	} 
 
#navbar ul li {  
	display: inline;
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #157878; 
	} 
 
#navbar ul li a:hover { 
	color: #157878; 
	background-color: #fff; 
	} 
 
--> 
</style> 
<div id="navbar"> 
  <ul> 
	<li><a href=".">About</a></li> 
	<li><a href="Members">Members</a></li> 
	<li><a href="Publications">Publications</a></li> 
	<li><a href="UsefulLinks">Useful links</a></li>
 </ul> 
</div> 
